{# templates/admin/quotations.show.html.twig #}
{% extends 'admin/base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
<div class="container">
    <h3 class="pt-3 h3-admin"><img src="{{ asset('images/file-system.svg') }}" width="26" alt="Devis"> Demande de devis - N°: {{ quotation.id }}
        {% if quotation.status == 0 %}
            <span class="badge badge-success ml-3">Nouveau</span>
        {% elseif quotation.status == 1 %}
            <span class="badge badge-warning ml-3">En cours</span>
        {% elseif quotation.status == 2 %}
            <span class="badge badge-secondary ml-3">Terminé</span>
        {% elseif quotation.status == 3 %}
            <span class="badge badge-danger ml-3">Annulé</span>
        {% endif %}
    </h3>
    <div class="row mt-3">
        <div class="col-lg-5 my-3">
            <ul class="list-group">
                <li class="list-group-item">Nom : <span class="font-weight-bold ml-2">{{ quotation.name }}</span></li>
                <li class="list-group-item">Entreprise : <span class="font-weight-bold ml-2">{{ quotation.company }}</span></li>
                <li class="list-group-item">Email : <span class="font-weight-bold ml-2">{{ quotation.mail }}</span></li>
                <li class="list-group-item">Téléphone : <span class="font-weight-bold ml-2">{{ quotation.phone }}</span></li>
                <li class="list-group-item">
                    <span class='zoom' id='ex1'>
                        <img src="{{ vich_uploader_asset(quotation, 'imageFile') }}" class="img-fluid img-thumbnail" alt="Photo de la carte">
                    </span>
                    <a class="btn btn-sm btn-secondary" href="{{ vich_uploader_asset(quotation, 'imageFile') }}" role="button" download="{{ quotation.company }}">Télécharger la photo</a>
                </li>       
            </ul>
        </div>
        <div class="col-lg-7 my-3">
            <div class="message-client">
                <div class="container">
                    Demande reçu le : <span class="badge badge-primary mb-4">{{ quotation.createdAt | date("d/m/Y") }}</span>
                    <h3 class="pb-3">Message du client : </h3>
                    <p>{{ quotation.quoteMessage | nl2br }}</p>
                </div>
            </div>

            {{ form_start(form) }}
                <div class="d-flex flex-row float-right mt-5">
                    <div class="mr-2 mt-2">
                        Statut :
                    </div>
                    <div class="mr-2">
                        {{ form_widget(form.status) }}
                    </div>
                    <div class="p3 mt-1">
                        <button class="btn btn-sm btn-secondary" type="submit">Changer</button>
                    </div>
                </div>
            {{ form_end(form) }}

        </div>    
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/zoom.js') }}"></script>
	<script>
		$(document).ready(function(){
			$('#ex1').zoom();
		});
	</script>    
{% endblock %}