{# templates/pages/article.html.twig #}
{% extends 'base.html.twig' %}

{% block head %}
	{{ parent() }}
	<meta name="description" content="{{ advice.description }}">
{% endblock head %}

{% block title %}
	{{ advice.title }}
{% endblock %}

{% block body %}
	<section class="advices article container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-h1 h1-sm-device pb-5">
					{{ advice.title }}</h1>
				<img src="{{ vich_uploader_asset(advice, 'imageFile') }}" alt="photographie liée à l'article" class="img-fluid card-img-top card-img-bottom" loading="lazy">
				<div class="py-5">
					<p>
					{% autoescape %}
    					{{ advice.content |raw }}
					{% endautoescape %}
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 my-1">
				<a href="{{ path('quotation') }}" class="btn btn-primary call-to-action">Devis gratuit</a>
			</div>
			<div class="col-sm-6 my-1">
				<a href="{{ path('home') }}#services" class="btn btn-outline-primary call-to-action">Nos services</a>
			</div>
		</div>
	</section>
{% endblock %}
