{# templates/pages/contact.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/datetime-picker.css') }}">
{% endblock %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% for error in errors %}
            <div class="alert alert-danger">
                {{ error.message }}
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock form_errors %}

{% block title %}Prise de rendez-vous{% endblock %}

{% block body %}

<section class="contact container">
    <div class="row">
        <div class="col-lg-6">
            <div id="animation_container" style="background-color:rgba(250, 250, 250, 1.00); width:280px; height:56px">
                <canvas id="canvas" width="280" height="56" style="position: absolute; display: block; background-color:rgba(250, 250, 250, 1.00);"></canvas>
                <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:280px; height:56px; position: absolute; left: 0px; top: 0px; display: block;">
                </div>
            </div>
            <p class="my-5 contact-txt">L’entreprise <span class="span-primary">RCP électronic</span> se fait un <br>
                <span class="span-primary">plaisir</span> d’échanger avec vous !</p>
            <address class="contact-details">
                <p class="pt-4"><img src="{{ asset('images/mail.svg') }}" width="30" alt="Adresse e-mail" loading="lazy"> contact@rcp-electronic.fr</p>
                <p><img src="{{ asset('images/phone.svg') }}" width="30" alt="Numéro de téléphone" loading="lazy"> 07 82 30 02 23</p>
                <p class="mt-5"><img src="{{ asset('images/position.svg') }}" width="30" alt="Adresse" loading="lazy"> 175 rue Chanoine Bouisson, 83200 TOULON</p>
            </address>
        </div>
        <div class="col-lg-6">
            <h1 class="page-h1">Prise de rendez-vous</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success"> {{ message }} </div>
            {% endfor %}
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_errors(form.name) }}
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-row">
                    {{ form_errors(form.phone) }}
                    <div class="form-group col-lg-6">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone) }}
                    </div>
                    <div class="form-group col-lg-6">
                        {{ form_row(form.company) }}
                    </div>
                </div>
                <div class="form-row">
                    {{ form_errors(form.mail) }}
                    <div class="form-group col-lg-6">
                        {{ form_label(form.mail) }}
                        {{ form_widget(form.mail) }}
                    </div>
                    <div class="form-group col-lg-6">
                        {{ form_label(form.app_date) }}
                        {{ form_widget(form.app_date, {'id': 'datetimepicker'}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(form.app_message) }}
                </div>
                <p>
                    <small>
                        En soumettant ce formulaire, j’accepte que les informations saisies <br> soient utilisées par
                        RCP Electronic.
                        <a class="rgpd-link" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                            aria-expanded="false" aria-controls="multiCollapseExample1">
                            A LIRE ATTENTIVEMENT
                        </a>
                    </small>
                </p>
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="rgpd">
                        <p>Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé
                            par RCP Electronic.
                            Les données sont conservées pour la durée nécessaire à la gestion de votre demande.
                            Vous pouvez demander leur effacement à RCP Electronic.
                            Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce
                            dispositif, vous pouvez contacter RCP Electronic.</p>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary btn-sm">ENVOYER</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="{{ asset('js/anim.min.js') }}"></script>
    <script src="{{ asset('js/datetime-picker.js') }}"></script>
    <script>
        jQuery.datetimepicker.setLocale('fr');
        jQuery('#datetimepicker').datetimepicker({
        format:'d/m/Y H:i',
         allowTimes:[
            '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00'
            ]
        });         
    </script>
{% endblock %}