{# templates/admin/base.html.twig #}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="noindex, nofollow">
        <title>{% block title %}{% endblock %} | RCP Electronic</title>
        
        <link rel="apple-touch-icon" href="{{ asset('favicons/apple-touch-icon.png') }}" sizes="180x180">
        <link rel="icon" href="{{ asset('favicons/favicon-32x32.png') }}" sizes="32x32" type="image/png">
        <link rel="icon" href="{{ asset('favicons/favicon-16x16.png') }}" sizes="16x16" type="image/png">
        <link rel="manifest" href="{{ asset('favicons/manifest.json') }}">
        <link rel="icon" href="{{ asset('favicons/favicon.ico') }}">

        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">
        {% endblock %}
    </head>

    <body class="admin"> 
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="main-nav-bar">
                <div class="container">
                    <img src="{{ asset('images/logo_black.svg') }}" width="180" alt="" loading="lazy">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link ancre" href="{{ path('admin_quotation.index') }}"><img src="{{ asset('images/file-system.svg') }}" width="20" alt="Devis"> Gestion des devis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_appointment.index') }}"><img src="{{ asset('images/calendar.svg') }}" width="20" alt="Rendez-vous"> Gestion des rendez-vous</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_advice.index') }}"><img src="{{ asset('images/post.svg') }}" width="20" alt="Conseils"> Conseils</a>
                            </li>     
                        </ul>
                        <a class="btn btn-sm btn-primary" href="{{ path('logout') }}"><img class="mb-1" src="{{ asset('images/lock.svg') }}" width="16" alt="Déconnexion"> Déconnexion</a>
                    </div>
                </div>             
            </nav>
            <div class="fixed-nav-mb"></div>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <div class="fixed-footer-admin"></div>
        <footer class="fixed-bottom">
            <div class="container">
                <div class="copyright d-flex">
                    <div class="p-2 flex-fill"><small class="d-flex justify-content-center">&copy; RCP Electronic 2020</small> </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}
        <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>        