{# templates/admin/advice/edit.html.twig #}
{% extends 'admin/base.html.twig' %}

{% block title %}Modifier un conseil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/trix.css') }}">
{% endblock %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% for error in errors %}
            <div class="alert alert-danger">
                {{ error.message }}
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock form_errors %}

{% block body %}
<div class="container">
    <h3 class="pt-3 h3-admin"><img src="{{ asset('images/edit.svg') }}" width="26" alt="Conseil"> Modifier un conseil</h3>
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }} <span id="titleCount"></span>
            {{ form_widget(form.title) }}
        </div>
        {{ form_errors(form.title) }}
        <div class="form-group">
            {{ form_label(form.description) }} <span id="descCount"></span>
            {{ form_widget(form.description) }}
        </div>
        {{ form_errors(form.description) }}
        <div class="form-group trix">
            {{ form_label(form.content) }}
            {{ form_widget(form.content, {'id': 'content'}) }}
            <trix-editor input="content"></trix-editor>
        </div>
        {{ form_errors(form.content) }}
        <div>
            <img src="{{ vich_uploader_asset(advice, 'imageFile') }}" alt="photo" width="200" class="img-thumbnail">
        </div>
        <div class="form-group">
            {{ form_errors(form.imageFile) }}
            <label for="advice_imageFile">Choisir une nouvelle image</label>
            {{ form_widget(form.imageFile) }}
        </div>
        <div class="mt-1 float-right">
            <button type="submit" class="btn btn-secondary btn-sm">Modifier</button>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/trix.js') }}"></script>
	<script>
        function titleCountUpdate(str) {
            var lng = str.length;
            document.getElementById("titleCount").innerHTML = '(' + lng + ' sur 60 caractères )';
        }
        function descCountUpdate(str) {
            var lng = str.length;
            document.getElementById("descCount").innerHTML = '(' + lng + ' sur 150 caractères )';
        }
	</script>    
{% endblock %}