{# templates/admin/contact.html.twig #}
{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des rendez-vous{% endblock %}

{% block body %}
<div class="container">
    <h3 class="pt-3 h3-admin"><img src="{{ asset('images/calendar.svg') }}" width="26" alt="Rendez-vous"> Gestion des rendez-vous</h3>
    <div class="d-flex justify-content-end">
        {# <div class="p-2">
            <img src="{{ asset('images/filter.svg') }}" width="26" alt="Filtrer">
        </div>
        <form class="">
            <div class="form-group">
                <select class="custom-select">
                    <option selected>Statut</option>
                    <option value="0">Nouveau</option>
                    <option value="1">En cours</option>
                    <option value="2">Terminié</option>
                    <option value="3">Annulé</option>
                </select>   
            </div>
        </form> #}
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">Email</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Rendez-vous</th>
                    <th scope="col">{# Statut #}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <th scope="row">{{ appointment.id }}</th>
                    <td>{{ appointment.company }}</td>
                    <td>{{ appointment.mail }}</td>
                    <td>{{ appointment.phone }}</td>
                    <td>{{ appointment.createdAt  | date("d/m/Y") }}</td>
                    {% if date(appointment.createdAt) > date('-2days', 'Europe/Paris') %} 
                        <td><span class="badge badge-success">Nouveau</span></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>
                        <a href="{# {{ path('contact.show', {id: '1'}) }} #}">
                            <img src="{{ asset('images/view-details.svg') }}" width="26" alt="Afficher">
                        </a>
                    </td>
                    <td>
                        <a href="">
                            <img src="{{ asset('images/x-mark.svg') }}" width="26" alt="Supprimer">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}